<div class="text-sm ml-4">
    <!-- Username/!-->
    <p class="text-gray-900 leading-none capitalize font-bold">
        <%= @course.author %>
        <!-- course material-->
        <span class="font-thin text-sm hover:bg-white hover:underline"> · Prof de
            <span class="capitalize">Quora Help Center</span>
        </span>
    </p>
</div>
